.tech {
    width: 50vw;
    padding: 12px 16px;
    border-bottom: 1px solid #D9D9D9;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
}

.developer {
    width: 50vw;
    padding: 12px 16px;
    border-bottom: 1px solid #D9D9D9;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
}

.techHeader {
    width: 50vw;
    padding: 11px 16px 10px;
    background-color: #E8E8E8;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
}

.developerHeader {
    width: 50vw;
    padding: 11px 16px 10px;
    background-color: #E8E8E8;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}

.rowHeader {
    display: flex;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #0066CC;
    font-weight: 500;
}



/*.tech {*/
/*    width: 50vw;*/

/*}*/

/*.developer {*/

/*}*/

/*.techHeader {*/
/*    width: 50vw;*/
/*}*/

/*.developerHeader {*/

/*}*/

/*.row {*/
/*    display: flex;*/
/*}*/

/*.rowHeader {*/
/*    display: flex;*/
/*}*/

/*.loading {*/

/*}*/