.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 100px;
}

.wrapper {
    display: flex;
    width:50% ;
    padding: 10px 0;
}

.number {
    font-size: 20px;
    font-weight: bold;
    color: #274727;
    padding: 0 10px;

}
